*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
body{
  display: flex;
  flex-direction:column;
  color:white;
  background-image:radial-gradient(rgb(25, 106, 199),rgb(59, 5, 131));
}

nav{
display:flex;
align-items:center;
justify-content: flex-start;
flex:1;
margin-top:-180px;
margin-left:20px;
line-height:20px;



}

section, article, aside{
  display:none;
}

nav a{
  text-decoration:none;
  word-wrap:break-word;
  padding-left:10px;
  font-size:24px;
  color:white;
}

nav a:hover{
  text-decoration:overline;


}

header{
  display:flex;
  align-items:center;
  justify-content:center;
  margin-top:160px;
  letter-spacing: 1.3em;
  text-transform: uppercase;
 
}

header span{
  display:flex;
  justify-content: center;
  align-items:center;
  line-height:32px;
}



footer{
  display: flex;
  justify-content:center;
  margin-top:630px;
  font-weight: bold;
  font-size:24px;
}